/* General styles for the body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
/* the container for the menu screen*/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Dynamic Text Container Styles */
#dynamicTextContainer {
  position: fixed;
  top: 800px; /* Adjust top position */
  right: 220px; /* Adjust right position */
  z-index: 100; /* Ensure it is above other elements */
}

/* Styles for the dynamic text */
#dynamicText {
  font-size: 18px;
  color: #333;
}
/*game container*/
.game {
    position : fixed;
   width: 1300px;
    top : 50%;
    left : 50%;
   height: 700px;
    border: 1px solid black;
    margin: auto;
    transform : translate(-50%, -50%);

  }

  #man {
    position: absolute;
    width: 200px;
    height: 200px; 
    transform : translate(-50%, -50%);
    z-index: 10;
  }

  #items {
    width: 1300px;
    height: 700px;
    position: relative;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    
  } 
  .droplet{
    position: absolute;
    width: 150px;
    height: 150px;
    transform : translate(-50%, -50%);
  }
  .cash{
    position: absolute;
    width: 120px;
    height: 120px;
    transform : translate(-50%, -50%);
  }

  #umbrella {
    position: absolute;
    width: 180px;
    height: 180px;
    transform : translate(-50%, -50%);
    z-index: -5;
  }

 