.game {
    position : fixed;
   width: 1300px;
    top : 50%;
    left : 50%;
   height: 700px;
    border: 1px solid black;
    margin: auto;
    transform : translate(-50%, -50%);

  }

  #man {
    position: relative;
    width: 200px;
    height: 200px;
    transform: translate(550px,500px);
    z-index: 10;
  }

  /*#drops {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;
  
    background-image: url("img/businessmanRight.png");
    background-size: 20px 40px;
  
    animation: block 1s infinite linear;
  } */

  #umbrella {
    position: relative;
    width: 180px;
    height: 180px;
    transform: translate(388px,388px);
    z-index: -5;
  }
 