.game {
    position : fixed;
   width: 1300px;
    top : 50%;
    left : 50%;
   height: 700px;
    border: 1px solid black;
    margin: auto;
    transform : translate(-50%, -50%);

  }

  #man {
    position: relative;
    width: 200px;
    height: 200px;
    transform: translate(550px,500px);
    z-index: 10;
  }

#items {
    width: 1300px;
    height: 700px;
    left : 50%;
    top: 21%;
    position: relative;
    border: 1px solid black;
    margin: auto;
    transform : translate(-50%, -50%);
    
  } 
  .droplet{
    position: relative;
    width: 150px;
    height: 150px;
    transform: translate(38px,38px);
  }
  .cash{
    position: relative;
    width: 120px;
    height: 120px;
  }

  #umbrella {
    position: relative;
    width: 180px;
    height: 180px;
    transform: translate(388px,388px);
    z-index: -5;
  }
 